<a>Sinatra Project</a>
<% if locals[:fails] %>
  <p><%= locals[:fails] %></p>
<% end %>
<form action="login" method="post">
  <input name="email" placeholder="メールアドレス">
  <input type="password" name="pass" placeholder="パスワード">
  <button type="submit">ログイン</button>
</form>

<form action="account" method="get">
  <button type="submit">アカウント作成</button>
</form>