<a>Sinatra Project</a>
<form action="login" method="post">
  <input name="name" placeholder="ユーザ名">
  <input name="pass" placeholder="パスワード">
  <button type="submit">ログイン</button>
</form>

<form action="account" method="get">
  <button type="submit">アカウント作成</button>
</form>